body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 50px;
}
.orange-color {
    color: orange;
}
section {
    display: flex;
    margin-bottom: 120px;
}
.half-width {
    width: 50%;
    padding-left: 5%;
}
.half-width img {
    width: 80%;
}
.link-btn {
    color: wheat;
    font-weight: 700;
    text-decoration: none;
    /* background-color: tomato; */
    background-image: linear-gradient(to right, rgb(245, 154, 154), tomato);
    padding: 5px 40px;
    border-radius: 5px;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}